.film {
  border-bottom: 1px solid #727373;
  padding: 20px;
  display: flex;

  .film-cover {
    padding-right: 30px;
    align-self: center;

    .cover {
      object-fit: cover;
      border-radius: 10px;
      height: 225px;
      width: 150px;
    }
  }

  .film-information {
    padding: 20px;

    .main {
      display: flex;
      padding-bottom: 15px;
      justify-content: space-between;
      font-size: 24px;
      font-weight: bolder;

      .rating {
        display: flex;
        align-items: center;

        svg {
          padding-right: 5px;
        }
      }
    }

    .release-date, .genre {
      font-size: 18px;
      padding-bottom: 10px;
    }

    .genre {
      display: flex;
      padding-bottom: 30px;

      div {
        margin-right: 10px;
        font-style: italic;
      }
    }

    .description {
      max-height: 100px;
      overflow: hidden;
      text-overflow: ellipsis;

    }
  }
}
