.film {
  border-bottom:  1px solid #727373;
  padding: 20px;
  display: flex;
  .film-cover{
    max-width: 25%;
    padding-right: 30px;
    .cover{
      width:100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }
  .film-information{
    padding: 20px;
    .main{
      display: flex;
      padding-bottom: 15px;
      justify-content: space-between;
      font-size: 24px;
      font-weight: bolder;
      .rating{
        display: flex;
        align-items: center;
        svg{
          padding-right: 5px;
        }
      }
    }
    .release-date,.genre{
      font-size: 18px;
      padding-bottom: 10px;
    }
    .genre{
      display: flex;
      padding-bottom: 30px;
      div{
        margin-right: 10px;
        font-style: italic;
      }
    }
  }
}
