.overlay-film {
  border-bottom:  1px solid #727373;
  padding: 20px;
  display: flex;
  align-items: center;
  .overlay-film-cover{
    width: 40%;
    padding-right: 30px;
    .overlay-cover{
      width:100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }
  .overlay-film-information{
    padding: 20px;
    width: 60%;
    .overlay-main{
      display: flex;
      padding-bottom: 15px;
      justify-content: space-between;
      font-size: 24px;
      font-weight: bolder;
      .overlay-rating{
        display: flex;
        align-items: center;
        svg{
          padding-right: 5px;
        }
      }
    }
    .overlay-release-date,.genre{
      font-size: 18px;
      padding-bottom: 10px;
    }
    .overlay-genre{
      display: flex;
      padding-bottom: 30px;
      div{
        margin-right: 10px;
        font-style: italic;
      }
    }
  }
}