.header{
  background-color: #F2EAE4;
  padding: 10px 100px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  .logo{
    height: 70px;
  }
  .profile-icon{
    height: 75px;
    border-radius: 100%;
  }
}
